<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027570588895-s806av2n87besnu0op6sj2dbv8bmj74p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027570588895-s806av2n87besnu0op6sj2dbv8bmj74p</string>
	<key>API_KEY</key>
	<string>AIzaSyCxAd7vcIxnsNwsB2kqT7dQ4Pe_KRAZfm8</string>
	<key>GCM_SENDER_ID</key>
	<string>1027570588895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pcShoppingApplication</string>
	<key>PROJECT_ID</key>
	<string>pc-shopping-7b306</string>
	<key>STORAGE_BUCKET</key>
	<string>pc-shopping-7b306.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027570588895:ios:53ac28315903b438d21d6a</string>
</dict>
</plist>